body {
      background-color:azure;
      font-family: Arial, Helvetica, sans-serif;
      color:#333
}
.contenedor {
      max-width: 1000px; 
      margin: 20px auto;
      display: grid;
      grid-gap:20px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 
      "nav nav nav"
      "contenido contenido sidebar"
      "bloque1 bloque2 sidebar"
      "footer footer footer";
      }

nav {
    background-color: #89aeb2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:azure;
    grid-area: nav;
    padding: 20px;
    border-radius: 25px;
}

.contenido {
    grid-area: contenido;
    

}
p {
    line-height: 1.5;
    color:#333;
    text-align: justify;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
    line-height: 1.6;
    hyphens: auto;
}

.sidebar {
     grid-area: sidebar;
     background-color: #92f2f3;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;


}
.bloque {
     background-color: #333;
     text-align: center;
     padding: 20px;
     height: 100px;
     display: flex;
     border-radius: 25px;
     color: aliceblue;
}
#bloque1 {
    grid-area: bloque1;
     background-color: #666;
}

#bloque2 {
    grid-area: bloque2;
    background-color:#89aeb2;
}

footer {
    grid-area: footer;
    background-color: #89aeb2;
    color:aliceblue;
    border-radius: 25px;
    display: flex;
    padding: 20px;
}

@media screen and  (max-width: 750px)
    {
    .contenedor {
           grid-template-areas: 
           "nav nav nav"
           "contenido contenido contenido"
           "bloque1 bloque2 bloque2"
           "sidebar sidebar sidebar"
           "footer footer footer";
    }
}