body {
    margin: 0;
    background-color: rgb(7, 8, 8);

}
.contenedor {
    background-color: rgb(178, 180, 180);
    min-height: 100vh;
    display: grid;
    grid-area: 
    "nav"
    "main"
    "footer";

}

.nav {
    background-color: rgb(239, 170, 170);
    border: 1px solid pink;
    color: blue;
    padding: 10px;
}

.main {
    background-color: beige;
    border: 1px solid grey;
    min-height: fit-content;
}

.footer {
    background-color: lightgray;
    border: 1px solid grey;
}